@media (min-width: 1281px) {
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .alert.success {
    background-color: #4caf50;
  }
  .alert.info {
    background-color: #2196f3;
  }
  .alert.warning {
    background-color: #ff9800;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
}

@media screen and (max-width: 960px) {
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    transition-duration: 0.6s;
  }

  .alert.success {
    background-color: #4caf50;
  }
  .alert.info {
    background-color: #2196f3;
  }
  .alert.warning {
    background-color: #ff9800;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
}

@media screen and (max-width: 400px) {
}
