@media (min-width: 1281px) {
    .change-password-button-container{
        margin: 20px 0 0 770px ;
    }
}

@media screen and (max-width: 960px) {
    .change-password-button-container{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {}