$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina":
      "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})",
    "<maxWidth": "(max-width: #{$mediaMaxWidth})",
    ">bp1Width": "(min-width: #{$mediaBp1Width + 1})",
    "<bp1Width": "(max-width: #{$mediaBp1Width})",
    ">minWidth": "(min-width: #{$mediaMinWidth + 1})",
    "<minWidth": "(max-width: #{$mediaMinWidth})",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

.NavbarItems {
  background-color: rgba(245, 245, 245, 0.8);
  opacity: 0.8;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  // border: 1px solid black;
  // margin: 0 0 0 30px;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.navbar-logo {
  color: #676767;
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;
  // border: 1px solid black;
  // margin: 0 0 0 30px;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  // border: 1px solid black;
  // margin: 0 0 0 30px;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.menu-icon {
  display: none;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.nav-links {
  color: #676767;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  // border: 1px solid black;
  // margin: 0 0 0 30px;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.nav-links-regis {
  border: 1px solid #2427ff;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #2427ff;
  cursor: pointer;
  
  // margin-left: -40px;
  // position: relative;
}

.nav-links:hover {
  color: black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  // border: 1px solid black;
  // margin: 0 0 0 30px;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: black;
    left: 0;
    opacity: 1.5;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin-left: -20px;
    font-weight: bold;
  }

  .nav-links:hover {
    background-color: #676767;
    border-radius: 0;
    margin-left: -20px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 30%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-links-regis {
    border: 1px solid #2427ff;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #2427ff;
    margin: 10px 0 10px -40px;
    position: relative;
  }

  
}
