.inside-parallax {
  background-color: rgba(0, 0, 0, 0.2);
  left: 5%;
  top: 50%;
  position: absolute;
  padding: 30px 80px 60px 80px;
  margin-top: 40px;
  max-width: 500px;
}

.h1-color {
  color: #ffffff;
}

.regis-button {
  background-color: #2427ff;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transform: translate(165%, 650%);
}

.welcome-container {
  position: absolute;
  margin-top: -400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  z-index: 100;
}

.welcome-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.welcome-label {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.flex-item-right {
  background-color: #1550d3;
  opacity: 0.9;
  padding: 10px;
  flex: 50%;
  font-size: 16px;
  font-weight: 100;
  height: 300px !important;
}

.flex-item-left {
  background-color: #1550d3;
  opacity: 0.9;
  padding: 10px;
  flex: 50%;
  height: 300px !important;
}

@media screen and (max-width: 1200px) {
  .h3-text-1 {
    text-align: left !important;
    margin-left: 20px;
    font-size: 28px;
  }

  .label-text-1 {
    float: right !important;
    margin-left: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .label-text-2 {
    float: right !important;
    margin-left: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
    margin-bottom: 80px;
  }

  .h3-text-2 {
    text-align: left !important;
    margin-left: 20px;
    font-size: 28px;
  }

  .h3-text-3 {
    text-align: left !important;
    margin-left: 20px;
    font-size: 28px;
  }

  .h3-text-4 {
    text-align: left !important;
    margin-left: 20px;
    font-size: 28px;
  }
}

@media screen and (max-width: 900px) {
  .flex-item-left-label {
    font-size: 30px;
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
    float: left;
    text-align: left;
    margin-top: 5%;
    color: #f9e400;
    font-weight: 100;
    height: 50% !important;
    // border-right: 3px solid #ffffff;
    // padding: auto auto auto auto ;
  }
  .flex-item-right {
    background-color: #1550d3;
    opacity: 0.9;
    padding: 10px;
    flex: 50%;
    font-size: 16px;
    font-weight: 100;
    height: auto !important;
  }

  .flex-item-left {
    background-color: #1550d3;
    opacity: 0.9;
    padding: 10px;
    flex: 50%;
    height: auto !important;
  }

  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
  .label-text-1 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .label-text-2 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .h3-text-1 {
    text-align: center;
  }

  .h3-text-2 {
    text-align: center;
  }

  .h3-text-3 {
    text-align: center;
  }

  .h3-text-4 {
    text-align: center;
  }

  .welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }

  .inside-parallax {
    background-color: rgba(0, 0, 0, 0.2);
    left: 0%;
    top: 50%;
    position: absolute;
    padding: 30px 80px 60px 80px;
    margin-top: 40px;
    max-width: 500px;
  }

  .regis-button {
    background-color: #2427ff;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform: translate(70%, 900%);
  }

  .flex-item {
    //   background: tomato;
    //   border: 3px solid rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: left;
  }

  .flex-container-section-item-1,
  .flex-container-section-item-2,
  .flex-container-section-item-3 {
    flex: 100%;
  }

  .flex-container-section-item-1-2,
  .flex-container-section-item-2-2,
  .flex-container-section-item-3-2 {
    flex: 100%;
  }

  .flex-container-section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .flex-container-section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .label-text-1 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .label-text-2 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }
}

@media screen and (max-width: 400px) {
  .h3-text-1 {
    text-align: center;
  }

  .h3-text-2 {
    text-align: center;
  }

  .h3-text-3 {
    text-align: center;
  }

  .h3-text-4 {
    text-align: center;
  }
  .regis-button {
    background-color: #2427ff;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform: translate(70%, 700%);
  }

  .flex-item {
    //   background: tomato;
    //   border: 3px solid rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: left;
  }
  .container-1 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .container-2 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 600px) {
  .label-text-1 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .label-text-2 {
    float: left !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .flex-item {
    //   background: tomato;
    //   border: 3px solid rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: left;
  }
  .h3-text-1 {
    text-align: center;
  }

  .h3-text-2 {
    text-align: center;
  }

  .h3-text-3 {
    text-align: center;
  }

  .h3-text-4 {
    text-align: center;
  }
  .regis-button {
    background-color: #2427ff;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform: translate(70%, 700%);
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-item:nth-of-type(1) {
  flex-grow: 1;
}
.flex-item:nth-of-type(2) {
  flex-grow: 0;
}
.flex-item:nth-of-type(3) {
  flex-grow: 1;
}
.flex-item:nth-of-type(4) {
  flex-grow: 1;
}
//   .flex-item:nth-of-type(5) { flex-grow: 1; }

.flex-item {
  //   background: tomato;
  //   border: 3px solid rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  text-align: left;
}

@media (min-width: 1281px) {
  /* CSS */
  .flex-item-left-label {
    font-size: 30px;
    max-width: 300px;
    // display: flex;
    // justify-content: flex-end;
    float: right;
    text-align: right;
    margin-top: 5%;
    color: #f9e400;
    font-weight: 100;
    height: 50% !important;
    border-right: 3px solid #ffffff;
    padding: 70px 20px 160px 0;
  }
  .label-text-1 {
    float: right !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .label-text-2 {
    float: right !important;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
  }

  .container-1 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .container-2 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
  }
}

.h3-text-1 {
  text-align: right;
  margin-right: 20px;
  font-size: 28px;
}

.h3-text-2 {
  text-align: right;
  margin-right: 20px;
  font-size: 28px;
}

.h3-text-3 {
  text-align: left;
  margin-left: 20px;
  font-size: 28px;
}

.label-text-3 {
  float: left !important;
  margin-left: 20px;
  font-size: 20px;
  color: #333;
  font-weight: 100;
  // padding: 30px 80px 60px 80px;
  max-width: 300px;
}

.h3-text-4 {
  text-align: left;
  margin-left: 20px;
  font-size: 28px;
}

.label-text-4 {
  float: left !important;
  margin-left: 20px;
  font-size: 20px;
  color: #333;
  font-weight: 100;
  max-width: 300px;
}

.label-text-5-container {
  max-width: 1200px;

  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.label-text-5 {
  max-width: 500px;
  font-size: 16px;
}

.flex-containers {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-right-label {
  font-size: 16px;
  font-weight: 50;
  float: left;
  text-align: left;
  color: #ffffff;
  margin-top: 10%;
  max-width: 600px;
}

.flex-container-section-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // font-style: italic;
}

.flex-container-section-item-1 {
  background-color: #deeefb;
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.flex-container-section-item-2 {
  background-color: #eef7ff;
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.flex-container-section-item-3 {
  background-color: #f8f8f8;
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.img-profile {
  width: 69px;
  height: 69px;
  margin: 70px 0 20px 0;
}

a {
  color: #70b7d5;
}

.api-label-1 {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  padding: 0px 0 20px 0;
}

.flex-container-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // flex-direction: column;
}

.flex-container-section-item-1-2 {
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.flex-container-section-item-2-2 {
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.flex-container-section-item-3-2 {
  flex: 20%;
  font-size: 16px;
  text-align: center;
}

.img-2 {
  width: 69px;
  height: 69px;
}


.img-3 {
  width: 100px;
  height: 75px;
}
