@media (min-width: 1281px) {
  .register-container {
    text-align: center;
    margin: 20px 0 30px 0;
  }

  .register-label {
    font-size: 22px;
    font-weight: 500;
  }

  .register-hilight-container {
    background-color: #f5faff;
  }

  .register-hilight-container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-left: 300px;
  }

  .register-hilight-item-1 {
    flex: 10%;
  }

  .register-hilight-item-2 {
    flex: 50%;
  }

  .register-input-label {
    font-size: 16.5px;
    font-weight: 500;
    float: right;
    margin: 0 20px 0 0;
  }

  .input-container {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .input-style {
    padding: 5px;
    width: 50% !important;
  }

  .input-style::placeholder {
    font-style: italic;
    padding-left: 10px;
  }

  .register-section-recapt-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0 0 0 780px;
    flex-wrap: wrap;
  }

  .register-section-recapt-container-err {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: -10px 0 0 780px;
    flex-wrap: wrap;
    transition: (-30pc);
    font-size: 13px;
    color:#E74C3C;
  }

  .regist-detail-label {
    max-width: 660px;
    margin-bottom: 20px;
    font-weight: 900;
  }

  .recaptcha-container {
    margin: 20px 0 10px 0;
  }
}

@media screen and (max-width: 1100) {
 
  .register-section-recapt-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0 0 0 645px;
    flex-wrap: wrap;
  }

  .register-section-recapt-container-err {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: -10px 0 0 645px;
    flex-wrap: wrap;
    transition: (-30pc);
    font-size: 13px;
    color:#E74C3C;
  }


}

@media screen and (max-width: 960px) {
  .register-container {
    text-align: center;
    margin: 20px 0 30px 0;
  }

  .register-label {
    font-size: 22px;
    font-weight: 500;
  }

  .register-hilight-item-1 {
    flex: 100%;
  }

  .register-hilight-item-2 {
    flex: 100%;
  }

  .input-style {
    width: 70% !important;
    padding: 5px;
    margin-left: 30px !important;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
  }

  .register-hilight-container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .register-input-label {
    font-size: 16.5px;
    font-weight: 500;
  }

  .input-style::placeholder {
    font-style: italic;
    padding-left: 8px;
  }

  .register-hilight-container {
    background-color: #f5faff;
  }

  .register-section-recapt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 25px;
  }

  .regist-detail-label {
    max-width: 200px;
    margin-bottom: 20px;
    font-weight: 900;
  }
  .recaptcha-container {
    margin: 20px 0 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .register-section-recapt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
  }
}
