@media (min-width: 1281px) {
  .footer-container {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 70px;
    padding-right: 70px;
  }

  .footer-img-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .big-footer-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .big-footer-container-item-1 {
    flex: 10px;
    font-size: 30px;
    float: right;
  }

  .big-footer-container-item-2 {
    flex: 60%;
    float: left;
  }

  .label-section-1 {
    margin: 20px 0 0 0;
  }

  .label-footer-1 {
      padding-right: 30px;
      cursor: pointer;
  }

  .label-footer-1:hover {
      padding-right: 30px;
      text-decoration: underline;
  }


  .label-section-2 {
    margin: 20px 0 0px 0;
  }

  .label-footer-2 {
      padding-right: 345px;
  }

  .label-footer-3 {
    padding-right: 635px;
}
}

@media screen and (max-width: 900px) {
  .footer-img-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }

  .img-footer-left {
    width: 84px;
    height: 48.5px;
    margin: 0 0 10px 20px;
  }

  .label-section-1 {
    margin: 20px 0 0 0;
  }

  .label-footer-1 {

  }

  .label-section-2 {
    margin: 20px 0 20px 0;
  }

  .label-footer-2 {
  }
}

@media only screen and (max-width: 400px) {
  .footer-img-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

.img-footer-right {
  width: 64px;
  height: 64.5px;
  margin: 20px;
}

.img-footer-left {
  width: 200px;
  height: 48.5px;
  margin-right: 30px;
}


