@media (min-width: 1281px) {
  .login-container {
    text-align: center;
    margin: 60px 0 30px 0;
  }

  .login-container-label {
    font-size: 25px;
    font-weight: 500;
  }

  .login-container-input-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
  }

  .login-item-input-1 {
    flex: 30%;
    text-align: right;
  }

  .login-item-input-2 {
    flex: 50%;
    text-align: left;
  }

  .login-container-username-label {
    margin: 0 20px 0 0;
    font-size: 18px;
    font-weight: 500;
  }

  .login-container-password-label {
    margin: 0 20px 0 0;
    font-size: 18px;
    font-weight: 500;
  }

  input[type="text"],input[type="password"],input[type="email"] {
    width: 35%;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
  }

  input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 3px 0 dodgerblue;
  }

  .button-login {
    background-color: #2427ff; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    transition: 2s;
    cursor: pointer;
    border-radius: 5px;
  }

  .button-login:focus {
    box-shadow: 0 0 7px 0 #2427ff;
  }

  .login-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
  }

  .login-button-item-1 {
      margin: 0 100px 0 0;
  }

  .login-button-item-2 {
    margin: 0 0 0 95px;
    cursor: pointer;
    color: #333;
  }

  .login-button-item-2:hover {
    text-decoration: underline;
    color: #333533;
  }

  .loading-label-spin{
    font-size: 16;
    font-weight: 800;
  }
}

@media screen and (max-width: 900px) {
  .login-container-input-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
 
  input[type="text"],input[type="password"],input[type="email"] {
    width: 150%;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    margin: 0 0 0 -28px;
  }

  input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 3px 0 dodgerblue;
  }

  .login-container-input-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
  }

  .login-container {
    text-align: center;
    margin: 60px 0 30px 0;
  }
  .button-login {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button-login {
    background-color: #2427ff; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    transition: 1s;
    cursor: pointer;
    border-radius: 5px;
  }

  .button-login:focus {
    box-shadow: 0 0 7px 0 #2427ff;
  }

  .login-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 30px 0;
  }
}

@media screen and (max-width: 400px) {
}
