$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina":
      "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})",
    "<maxWidth": "(max-width: #{$mediaMaxWidth})",
    ">bp1Width": "(min-width: #{$mediaBp1Width + 1})",
    "<bp1Width": "(max-width: #{$mediaBp1Width})",
    ">minWidth": "(min-width: #{$mediaMinWidth + 1})",
    "<minWidth": "(max-width: #{$mediaMinWidth})",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

@font-face{
  font-family: 'promtback';
  src: url('./assets/Prompt-Light.ttf');
}

h1,h2,h3,h4,h5{
  font-family: promtback;
}

label,p,a,span,td,th{
  font-family: promtback;
}

button{
  font-family: promtback;
}

footer{
  background-color: #113355;
  color: #ffffff;
}
/**
 * Usage examples
 */
.display-container {
  display: flex;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    display: flex;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    display: flex;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    display: flex;
  }
}

.display-justify-right-container {
  justify-content: flex-end;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    justify-content: flex-end;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    justify-content: flex-end;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    justify-content: flex-end;
  }
}

.display-justify-left-container {
  justify-content: flex-start;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    justify-content: flex-start;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    justify-content: flex-start;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    justify-content: flex-start;
  }
}

.display-justify-center-container {
  justify-content: center;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    justify-content: center;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    justify-content: center;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    justify-content: center;
  }
}

.display-align-right-container {
  align-items: flex-end;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    align-items: flex-end;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    align-items: flex-end;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    align-items: flex-end;
  }
}

.display-align-left-container {
  align-items: flex-start;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    align-items: flex-start;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    align-items: flex-start;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    align-items: flex-start;
  }
}

.display-align-center-container {
  align-items: center;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    align-items: center;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    align-items: center;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    align-items: center;
  }
}

.bg-color-blue {
  background-color: #2427ff;
  @include media("retina") {
    // border: 2px dotted #000;
  }
  @include media("screen", ">bp1Width", "<maxWidth") {
    // background: red;
    // color: white;
    background-color: #2427ff;
  }
  @include media("screen", ">minWidth", "<bp1Width") {
    // background: green;
    // color: white;
    background-color: #2427ff;
  }
  @include media("screen", "<minWidth") {
    // background: blue;
    // color: white;
    background-color: #2427ff;
  }
}
