@media (min-width: 1281px) {
  .detect-desktop-container {
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .detect-desktop {
    font-size: 30px;
    font-weight: 700;
    color: red;
  }
  .table-container {
    position: relative;
    left: 0%;
  }
}

@media screen and (max-width: 960px) {
  .feedback-container{
    display: none;
  }

  table {
    display: none;
  }
  .detect-desktop-container {
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .detect-desktop {
    font-size: 30px;
    font-weight: 700;
    color: red;
  }
  .table-container {
    max-width: 1000px;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
}

table {
  border: 1px solid black;
}
#customers {
  min-width: 1000px;
  table-layout: fixed;
  float: center;
  word-wrap: break-word;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 100px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2427ff;
  color: white;
  text-align: center;
}

.button-feedback {
  background-color: #2427ff; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition: 1s;
  cursor: pointer;
  border-radius: 5px;
}
